*{ margin: 0px; padding: 0px;border:none; list-style: none;font-family:"/";outline:none;text-decoration: none;font-size:14px}
a{outline: none;color:black;outline: none;}
body{background:#FEF8EC;}
.order-form{width:60%;padding:24px;background: white;margin:0 auto;margin-top:20px;}