<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ola.qh.dao.BusinessDao">

	<!-- 加盟商的开始############################################# -->
	<resultMap type="com.ola.qh.entity.Business" id="BusinessMap">
	<result column="id" property="id"/>
	<result column="username" property="username"/>
	<result column="password" property="password"/>
	<result column="name" property="name"/>
	<result column="principal" property="principal"/>
	<result column="logo" property="logo"/>
	<result column="mobile" property="mobile"/>
	<result column="address" property="address"/>
	<result column="status" property="status"/>
	<result column="expire_time" property="expireTime"/>
	<result column="addtime" property="addtime"/>
	<result column="banner" property="banner"/>
	</resultMap>
	
	
	
	
	
	
	<select id="single" resultMap="BusinessMap">
	select * from business where 1=1
	<if test="id!=null and id!=''">
	and id=#{id}
	</if>
	<if test="address!=null and address!=''">
	and address like concat(concat('%',#{address},'%'))
	</if>
	and status=0
	</select>
	
	
	
	<!-- 加盟商的结束############################################# -->
	
	
	
	
	<!-- 加盟商和用户的关联表开始~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	
	<select id="singleBusinessUser" resultType="java.lang.String">
	select business_id from business_user where 1=1
	<if test="businessId!=null and businessId!=''">
	and business_id=#{businessId}
	</if>
	<if test="userId!=null and userId!=''">
	and user_id=#{userId}
	</if>
	</select>
	
	
	<!-- 加盟商和用户的关联表结束~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
</mapper>