<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	<mapper namespace="com.ola.qh.dao.CourseDao">
	<!--课程的映射-->
	<resultMap type="com.ola.qh.entity.Course" id="CourseMap">
	<result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="course_name" property="courseName"/>
	<result column="course_type_name" property="courseTypeName"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="course_price" property="coursePrice"/>
	<result column="course_discount_price" property="courseDiscountPrice"/>
	<result column="course_year" property="courseYear"/>
	<result column="course_show" property="courseShow"/>
	<result column="course_excellent" property="courseExcellent"/>
	<result column="course_img" property="courseImg"/>
	<result column="course_resource_type" property="courseResourceType"/>
	<result column="course_use_difference" property="courseUseDifference"/>
	<result column="class_id" property="classId"/>
	<result column="addtime" property="addtime" />
	<result column="updatetime" property="updatetime"/>
	</resultMap>
	
	
	<!--大类别的映射-->
	<resultMap type="com.ola.qh.entity.CourseType" id="CourseTypeMap">
	<result column="id" property="id"/>
	<result column="course_type_name" property="courseTypeName"/>
	</resultMap>
	<select id="singleCourseType" resultType="com.ola.qh.entity.CourseType">
	    select id id,course_type_name courseTypeName from course_type where id=#{id}
	</select>
	<!--子类别的映射-->
	<resultMap type="com.ola.qh.entity.CourseTypeSubclass" id="CourseTypeSubclassMap">
	<result column="id" property="id"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="course_type_id" property="courseTypeId"/>
	</resultMap>
	
	<!--通过小类别的名称查小类别-->
	<select id="singleCourseTypeSubclass" resultType="com.ola.qh.entity.CourseTypeSubclass">
	
	select course_type_subclass_name courseTypeSubclassName, course_type_id courseTypeId,id id
	from course_type_subclass where course_type_subclass_name=#{courseTypeSubclassName}
	
	</select>
	
	
	<!--查用户类别的开始####################-->
	<select id="courseTypeList" resultMap="CourseTypeMap">
	select * from course_type where 1=1
	<if test="id!='' and id!=null ">
	and id=#{id}
	</if>
	</select>
	
	
	<!--通过大类别的id查小类别-->
	<select id="courseTypeSubclassList" resultMap="CourseTypeSubclassMap">
	select * from course_type_subclass where 1=1
	<if test="courseTypeId!='' and courseTypeId!=null ">
	and course_type_id=#{courseTypeId}
	</if>
	</select>
	<!--查用户类别的结束#################### -->
	
	<!--课程按照不同的条件进行查询-->
	<select id="courseList" parameterType="com.ola.qh.vo.CourseClassDomain" resultMap="CourseMap" >
	
	select id,user_id,course_name,course_type_name,course_type_subclass_name,course_img,course_price,course_discount_price,class_id from course where course_show=0
	<if test="courseTypeName!=null and courseTypeName!='' ">
	 and course_type_name=#{courseTypeName}
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
	 and course_type_subclass_name=#{courseTypeSubclassName}
	</if>
	<if test="classId!=null and classId!='' ">
	and class_id like concat(concat("%",#{classId},"%"))
	</if>
	
	order by addtime asc 
	<if test="pageSize!=0">
	limit #{pageNo},#{pageSize}
	</if>
	</select>
		
		
	<select id="singleCourse" resultMap="CourseMap">
	    select * from course where id=#{courseId} and course_show=0
	</select>	
		
	
		
	<!-- 课程章的查询 -->
	<select id="courseChapterCount" resultType="int">
	select count(id) from course_chapter where course_id=#{courseId}
	</select>
	<!-- 课程章的映射 -->
	<resultMap type="com.ola.qh.entity.CourseChapter" id="CourseChapterMap">
	<result column="id" property="id"/>
	<result column="course_id" property="courseId"/>
	<result column="course_chapter_name" property="courseChapterName"/>
	<result column="course_lecturer" property="courseLecturer"/>
	<result column="ispay" property="ispay"/><!-- 是否付费 -->
	<result column="addtime" property="addtime"/>
	</resultMap>
	<select id="courseChapterList" resultMap="CourseChapterMap">
	select id,course_id,course_chapter_name,course_lecturer,addtime from course_chapter
	where course_id=#{courseId} order by orders asc
	</select>
	
	
	
	<select id="courseSectionCount" resultType="int">
	select count(id) from course_section where course_chapter_id=#{chapterId}
	</select>
	
	<select id="sectionCount" resultType="int">
	select count(sc.id) from course_chapter cc left join course_section sc on cc.id=sc.course_chapter_id  where 1=1
	<if test="courseId!=null and courseId!=''">
	and cc.course_id=#{courseId}
	</if>
	<if test="lecturer!=null and lecturer!=''">
	and cc.course_lecturer=#{lecturer}
	</if>
	</select>
	
	<!-- 课程节的查询 -->
	<resultMap type="com.ola.qh.entity.CourseSection" id="CourseSectionMap">
	<result column="id" property="id"/>
	<result column="course_chapter_id" property="courseChapterId"/>
	<result column="section_name" property="sectionName"/>
	<result column="aliyunId" property="aliyunId"/>
	<result column="video_id" property="videoId"/>
	<result column="video_url" property="videoUrl"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	<select id="courseSectionList" resultMap="CourseSectionMap">
	select id,course_chapter_id,section_name,aliyunId,video_id,video_url,addtime from course_section
	where course_chapter_id=#{courseChapterId} order by orders asc
	</select>
	
	<!-- 直播课程的查询 -->
	<select id="selectLiveList" resultType="com.ola.qh.entity.CourseLineShow" parameterType="com.ola.qh.vo.CourseClassDomain">
	select id,live_name  liveName, img_url imgUrl,isshow,out_links outLinks,live_id liveId,live_back_id liveBackId,live_room_id liveRoomId,offline_url offlineUrl,endtime,addtime,status from course_line_show
	where 1=1
	<if test="courseTypeName!=null and courseTypeName!='' ">
	and course_type_name=#{courseTypeName}
	</if>
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!='' ">
	and course_type_subclass_name=#{courseTypeSubclassName}
	</if>
	<if test="className!=null and className!='' ">
	and live_name=#{className}
	</if>
	and isshow=1
	order by addtime desc
	limit #{pageNo},#{pageSize}
	</select>

	<select id="singleLiveShow" resultType="com.ola.qh.entity.CourseLineShow">
	select id,live_name  liveName, img_url imgUrl,isshow,out_links outLinks,live_id liveId,live_back_id liveBackId,live_room_id liveRoomId,offline_url offlineUrl,endtime,addtime,status,course_type_subclass_name courseTypeSubclassName from course_line_show
	where 1=1
	<if test="roomId!=null and roomId!='' ">
	and live_room_id=#{roomId}
	</if>
	order by addtime desc
	limit 0,1
	</select>
	
	
	<update id="updateListShow" parameterType="com.ola.qh.entity.CourseLineShow">
		update course_line_show set 
		<if test="status!=0">
		status=#{status},
		</if>
		<if test="endtime!=null">
		<!-- 直播结束时间 -->
		endtime=#{endtime},
		</if>
		<if test="addtime!=null">
		<!-- 直播开始时间 -->
		addtime=#{addtime},
		</if>
		<if test="liveId!=null and liveId!='' ">
		live_id=#{liveId},
		</if>
		<if test="liveBackId!=null and liveBackId!='' ">
		live_back_id=#{liveBackId},
		</if>
		<if test="offlineUrl!=null and offlineUrl!=''">
		offline_url=#{offlineUrl}, 
		</if>
		updatetime=#{updatetime}
		 where id=#{id}
	</update>
	
	<insert id="insertCCresult" parameterType="com.ola.qh.entity.CourseLineCCresult">
	insert into course_line_ccresult(id,liveId,roomId,recordId,type,startTime,endTime,stopStatus,recordStatus,recordVideoId,
	recordVideoDuration,replayUrl,offlineStatus,offlineMd5,offlineUrl,describes,addtime)
	values(#{id},#{liveId},#{roomId},#{recordId},#{type},#{startTime},#{endTime},#{stopStatus},#{recordStatus},#{recordVideoId},
	#{recordVideoDuration},#{replayUrl},#{offlineStatus},#{offlineMd5},#{offlineUrl},#{describes},#{addtime})
	</insert>
	
	
	
	<resultMap type="com.ola.qh.entity.CourseLineCheck" id="CourseLineCheckMap">
	<result column="id" property="id"/>
	<result column="mobile" property="mobile"/>
	<result column="token" property="token"/>
	<result column="roomid" property="roomid"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	<insert id="insertLineCheck" parameterType="com.ola.qh.entity.CourseLineCheck">
	insert into course_line_check(id,mobile,token,roomid,course_type_subclass_name,addtime)
	values(#{id},#{mobile},#{token},#{roomid},#{courseTypeSubclassName},#{addtime})
	</insert>
	
	<update id="updateLineCheck">
	update course_line_check set 
	<if test="courseTypeSubclassName!=null and courseTypeSubclassName!=''">
	course_type_subclass_name=#{courseTypeSubclassName},
	</if>
	<if test="roomid!=null and roomid!=''">
	roomid=#{roomid},
	</if>
	
	updatetime=#{updatetime}
	where id=#{id}
	</update>
	
	<select id="singleLineCheck" resultMap="CourseLineCheckMap">
	select * from course_line_check where mobile=#{mobile}
	</select>
	
	<!--直播的白名单获取全部信息 -->
	<select id="selectAllByLiveId" resultType="com.ola.qh.entity.CourseLineWhite">
		select id id, username username,password password from course_line_white where 1=1
		<if test="liveId!=null and liveId!=''">
		and live_id = #{liveId}
		</if>
	</select>
	</mapper>