<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper 
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ola.qh.dao.DoctorsDao">

	<!-- 医生的信息开始********************** -->
	<resultMap type="com.ola.qh.entity.Doctors" id="DoctorsMap">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="user_id" property="userId" />
		<result column="head_img" property="headImg" />
		<result column="sexs" property="sexs" />
		<result column="edu" property="edu" />
		<result column="school" property="school" />
		<result column="hospital" property="hospital" />
		<result column="offices" property="offices" />
		<result column="professional" property="professional" />
		<result column="signs" property="signs" />
		<result column="skilled" property="skilled" />
		<result column="address" property="address" />
		<result column="idcard" property="idcard" />
		<result column="front_idcard_img" property="frontIdcardImg" />
		<result column="reverse_idcard_img" property="reverseIdcardImg" />
		<result column="professional_img" property="professionalImg" />
		<result column="practice_img" property="practiceImg" />
		<result column="else_img" property="elseImg" />
		<result column="addtime" property="addtime" />
		<result column="doctor_id" property="doctorId" />
		<result column="patient_id" property="patientId" />
	</resultMap>

	<sql id="sql_base">
		id,name,user_id,head_img,professional,offices,hospital,signs
	</sql>

	<select id="doctorsCount" resultType="int">
		select count(id) from doctors where user_id=#{userId}
	</select>
	
	<select id="doctorGrade" resultType="double">
	select round(AVG(grade),1) from user_comment where doctor_id=#{doctorId}
	</select>

	<insert id="doctorsInsert" parameterType="com.ola.qh.entity.Doctors">
		insert into
		doctors(id,name,head_img,user_id,sexs,edu,school,hospital,offices,professional,signs,
		skilled,idcard,front_idcard_img,reverse_idcard_img,professional_img,practice_img,else_img,addtime,address)
		values(#{id},#{name},#{headImg},#{userId},#{sexs},#{edu},#{school},#{hospital},#{offices},#{professional},
		#{signs},#{skilled},#{idcard},#{frontIdcardImg},#{reverseIdcardImg},#{professionalImg},#{practiceImg},
		#{elseImg},#{addtime},#{address})
	</insert>
	<!-- 全查 -->
	<select id="listDoctor" resultMap="DoctorsMap">
		select
		<include refid="sql_base"></include>
		from doctors where islimit=1
		<if test="professional!=null and professional!='' ">
		and professional LIKE CONCAT(CONCAT('%',#{professional},'%'))
		</if>
		<if test="address!=null">
		and address LIKE CONCAT(CONCAT('%',#{address},'%'))
		</if>
		<if test="offices!=null and offices!='' ">
		and offices LIKE CONCAT(CONCAT('%',#{offices},'%'))
		</if>
		<if test="name!=null and name!='' ">
		and name LIKE CONCAT(CONCAT('%',#{name},'%'))
		</if>
		order by addtime desc
		<if test="pageSize!=0">
			limit #{pageNo},#{pageSize}
		</if>
		
	</select>
	

	<!-- 寻医问药专用查询 -->
	<select id="listRecommendDoctor" resultMap="DoctorsMap">
		select name,id,head_img,professional,hospital from doctors where isrecommend=1 limit 3
	</select>
	
	<!-- 根据科室查医生 -->
	<resultMap type="com.ola.qh.vo.DoctorAndPatient" id="DoctorAndPatientMap">
		<result column="title" property="title" />
		<result column="addtime" property="addtime" />
		<result column="patient_id" property="patientId" />
		<result column="offices" property="offices" />
		<result column="read_status" property="readStatus" />
	</resultMap>
	
	<select id="selectFromOffices" resultMap="DoctorAndPatientMap"  parameterType="String">
		select drp.patient_id patientId,dp.title title,dp.addtime addtime from doctor_reply_patient drp 
		left join doctor_patient dp on drp.patient_id=dp.id where dp.issolve=1
		<if test="offices!=null">
		and offices=#{offices}
		</if>
		<if test="title!=null">
		and title like concat(concat('%',#{title},'%'))
		</if>
		group by drp.patient_id order by addtime desc
	</select>
	
	
	<!-- 小铃铛！！！ -->
	<select id="existReadStatus" resultMap="DoctorAndPatientMap">
		select read_status from doctor_reply_patient drp left join doctor_patient dp on drp.patient_id=dp.id where user_id=#{userId}
	</select>
	
	
	<select id="selectDoctorId" resultMap="DoctorsMap">
		select distinct d.id doctorId,d.name name,d.head_img headImg,d.professional from doctor_reply_patient drp left join doctors d on drp.doctor_id=d.id where patient_id=#{patientId}
	</select>
	
	<select id="commentGrade" resultType="java.lang.Double">
	select round(AVG(grade),1) from user_comment where doctor_id=#{doctorId}
	</select>
	<!-- update -->
	<update id="updateDoctors" parameterType="com.ola.qh.entity.Doctors">
		update doctors set
		<if test="name!=null">
			name=#{name},
		</if>
		<if test="headImg!=null">
			head_img=#{headImg},
		</if>
		<if test="sexs!=null">
			sexs=#{sexs},
		</if>
		<if test="edu!=null">
			edu=#{edu},
		</if>
		<if test="school!=null">
			school=#{school},
		</if>
		<if test="hospital!=null">
			hospital=#{hospital},
		</if>
		<if test="offices!=null">
			offices=#{offices},
		</if>
		<if test="professional!=null">
			professional=#{professional},
		</if>
		<if test="signs!=null">
			signs=#{signs},
		</if>
		<if test="skilled!=null">
			skilled=#{skilled},
		</if>
		<if test="idcard!=null">
			idcard=#{idcard},
		</if>
		<if test="frontIdcardImg!=null">
			front_idcard_img=#{frontIdcardImg},
		</if>
		<if test="reverseIdcardImg!=null">
			reverse_idcard_img=#{reverseIdcardImg},
		</if>
		<if test="professionalImg!=null">
			professional_img=#{professionalImg},
		</if>
		<if test="practiceImg!=null">
			practice_img=#{practiceImg},
		</if>
		<if test="elseImg!=null">
			else_img=#{elseImg},
		</if>
		updatetime=#{updatetime}
		where id=#{id}
	</update>

	<!-- single -->
	<select id="singleDoctors" resultMap="DoctorsMap">
		select * from doctors where 1=1
		<if test="id!=null">
			and id=#{id}
		</if>
		<if test="userId!=null">
			and user_id=#{userId}
		</if>
		<if test="islimit!=null">
		   and islimit=#{islimit}
		</if>
	</select>

	<!-- 医生的信息结束********************** -->

	<!-- 患者的信息开始************************* -->
	<resultMap type="com.ola.qh.entity.DoctorPatient" id="DoctorPatientMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="title" property="title" />
		<result column="describes" property="describes" />
		<result column="offices" property="offices"/>
		<result column="ages" property="ages" />
		<result column="sexs" property="sexs" />
		<result column="times" property="times" />
		<result column="issolve" property="issolve" />
		<result column="doctor_id" property="doctorId"/>
		<result column="addtime" property="addtime" />
	</resultMap>

	<sql id="patientsql_base">
		user_id,title,describes,ages,sexs,times,issolve
	</sql>

	<!-- 患者信息 -->
	<insert id="insertPatient" parameterType="com.ola.qh.entity.DoctorPatient">
		insert into doctor_patient(
		id,<include refid="patientsql_base"></include>
		,addtime,offices,doctor_id)
		values(#{id},#{userId},#{title},#{describes},#{ages},#{sexs},#{times},#{issolve},#{addtime},#{offices},#{doctorId})
	</insert>
	<select id="singlePatient" resultMap="DoctorPatientMap">
	select id,<include refid="patientsql_base"></include>,addtime from doctor_patient where id=#{id}
	</select>
	
	<select id="selectPatient" resultMap="DoctorPatientMap">
	select id,<include refid="patientsql_base"></include> from doctor_patient where issolve=#{issolve} and doctor_id is null
	</select>
	
	<!-- 我的问诊 -->
	<select id="listPatient" resultMap="DoctorPatientMap">
		select dp.id,<include refid="patientsql_base"></include>,drp.read_status readStatus from doctor_patient dp 
		left join doctor_reply_patient drp on drp.patient_id=dp.id
		where 1=1 
		<if test="userId!=null and userId!=''">
		and	dp.user_id=#{userId}
		</if>
		<if test="doctorId!=null and doctorId!='' ">
		and drp.doctor_id=#{doctorId}
		</if>
		<if test="issolve!=null and issolve!='' ">
		and dp.issolve=#{issolve}
		</if>
		group by drp.patient_id 
		<if test="pageSize!=0">
			limit #{pageNo},#{pageSize}
		</if>
	</select>

	<update id="updatePatient" parameterType="com.ola.qh.entity.DoctorPatient">
		update doctor_patient set
		<if test="title!=null">
			title=#{title},
		</if>
		<if test="describes!=null">
			describes=#{describes},
		</if>
		<if test="ages!=null">
			ages=#{ages},
		</if>
		<if test="sexs!=null">
			sexs=#{sexs},
		</if>
		<if test="times!=null">
			times=#{times},
		</if>
		updatetime=#{updatetime}
		where id=#{id}
	</update>
	<resultMap type="com.ola.qh.entity.DoctorPatientImg" id="PatientImgMap">
	<result column="id" property="id"/>
	<result column="img_url" property="imgUrl"/>
	</resultMap>
	
	<insert id="insertPatientImg" parameterType="com.ola.qh.entity.DoctorPatientImg">
	insert into doctor_patient_img(id,patient_id,img_url,addtime)values(#{id},#{patientId},#{imgUrl},#{addtime})
	</insert>

	<select id="listPatientImg" resultMap="PatientImgMap">
	select id,img_url from doctor_patient_img where patient_id=#{patientId}
	</select>
	
	<delete id="deletePatientImg">
	delete from doctor_patient_img where id=#{id}
	</delete>

	<!-- 患者的信息结束************************* -->
</mapper>