<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ola.qh.dao.DoctorReplyDao">


	<resultMap type="com.ola.qh.entity.DoctorInfo" id="DoctorInfoMap">
		<result column="name" property="name" />
		<result column="types" property="types" />
		<result column="img_url" property="imgUrl" />
	</resultMap>

	<!-- 科室的集合 -->
	<select id="officeList" resultMap="DoctorInfoMap">
		select name,img_url from doctor_office
	</select>

	<!-- 标签和职称 -->
	<select id="doctorInfoList" resultMap="DoctorInfoMap">
		select name,types from doctor_info
	</select>

	<insert id="insertLikes">
	insert into user_likes(id,user_id,product_id,addtime)
	values(#{id},#{userId},#{productId},#{addtime})
	</insert>
	<select id="singleLikes" resultType="com.ola.qh.entity.UserLikes">
	select id,addtime from user_likes where user_id=#{userId} and product_id=#{productId}
	</select>
	
	<delete id="deleteLikes">
	delete from user_likes where id=#{id}
	</delete>
	
	<resultMap type="com.ola.qh.entity.Reply" id="ReplyMap">
	<result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="patient_id" property="patientId"/>
	<result column="reply_content" property="replyContent"/>
	<result column="likes" property="likes"/>
	<result column="addtime" property="addtime"/>
	<result column="reply_name" property="replyName"/>
	<result column="reply_head_img" property="replyHeadImg"/>
	
	</resultMap>
	<insert id="insertReply" parameterType="com.ola.qh.entity.Reply">
	insert into	doctor_reply_patient(id,user_id,patient_id,reply_content,likes,addtime,reply_name,reply_head_img)
	values(#{id},#{userId},#{patientId},#{replyContent},#{likes},#{addtime},#{replyName},#{replyHeadImg})
	</insert>
	
	<!-- <select id="existDoctor" resultType="java.lang.Integer">
	select count(id) from doctors where islimit=1 and id=#{doctorId}
	</select>
	<select id="existPatient" resultType="java.lang.Integer">
	select count(id) from doctor_patient where id=#{patientId}
	</select> -->
	<update id="updateReply">
	update doctor_reply_patient set 
	<if test="likes>=0">
	likes=#{likes},
	</if>
	updatetime=#{updatetime}
	where id=#{id}
	
	</update>
	<!-- 医生总共回答过的问题集合 -->
	<select id="replyList" resultMap="ReplyMap">
		select * from doctor_reply_patient
		where 1=1
		<if test="patientId!=null and patientId!='' ">
		and patient_id=#{patientId}
		</if>
		order by addtime desc
		<if test="pageSize!=0">
			limit #{pageNo},#{pageSize}
		</if>
	</select>
	
	<select id="replyListCount" resultType="int">
		select count(id) from doctor_reply_patient
		where 1=1
		<if test="patientId!=null and patientId!='' ">
		and patient_id=#{patientId}
		</if>
	</select>
	
	<select id="replySingle" resultMap="ReplyMap">
		select id,user_id,likes from doctor_reply_patient
		where id=#{id}
		
	</select>
	
	<delete id="deleteReply" >
		delete from doctor_reply_patient where patient_id=#{patientId}
		
	</delete>
	
	<!--问答详情医生的集合 
	<select id="doctorReplyList" resultType="com.ola.qh.vo.DoctorsVo">
		select d.name,d.head_img headImg,d.hospital,d.offices,d.professional,d.skilled,drp.doctor_id doctorId  from doctor_reply_patient drp
		left join doctors d on d.id=drp.doctor_id
		where 1=1
		<if test="patientId!=null and patientId!='' ">
		and drp.patient_id=#{patientId}
		</if>
		GROUP BY doctor_id
	</select>-->
	<!-- 查出医生对应的所有的回答集合 
	<select id="listByIds" resultType="com.ola.qh.entity.DoctorReply">
	select doctor_id doctorId,patient_id patientId,read_status readStatus,reply_content replyContent,browse_count browseCount,addtime,types from doctor_reply_patient where 1=1
		<if test="patientId!=null and patientId!='' ">
		and patient_id=#{patientId}
		</if>
		<if test="doctorId!=null and doctorId!='' ">
		and doctor_id=#{doctorId}
		</if>
		order by addtime asc
	</select>-->
	
</mapper> 