<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.NewsDao">

	<resultMap type="com.ola.qh.entity.News" id="NewsMap">
		<result column="id" property="id" />
		<result column="types" property="types" />
		<result column="content_types" property="contentTypes" />
		<result column="title" property="title" />
		<result column="img_url" property="imgUrl" />
		<result column="content" property="content" />
		<result column="addtime" property="addtime" />
		<result column="isstick" property="isstick" />
		<result column="simple_intro" property="simpleIntro"/>
	    <result column="typename" property="typename"/>
	</resultMap>


	<sql id="sql_base">
		id,types,title,img_url,addtime,isstick,status,simple_intro,typename
	</sql>
	<select id="selectNewList" resultMap="NewsMap" >
		select
		<include refid="sql_base"></include>,content_types
		from news where 1=1
		<if test="contentTypes!=null and contentTypes!=''">
			and content_types=#{contentTypes}
		</if>
		<if test="contentTypes==null or contentTypes==''">
			and content_types in (1,3)
		</if>
		<if test="typename!=null and typename!='' ">
		   and typename=#{typename}
		</if>
		<if test="searchname!=null and searchname!='' ">
		   and (title like concat(concat("%",#{searchname},"%")) or simple_intro like concat(concat("%",#{searchname},"%")))
		</if>
		order by addtime desc
		<if test="pageNo!=0">
			 limit #{pageNo},#{pageSize}
		</if>
		
	</select>


	<select id="singlenews" parameterType="String" resultMap="NewsMap">
		select * from news
		where id=#{id}
	</select>
	
	<select id="selectRecommendNews"  resultMap="NewsMap">
		select id,title,img_url,simple_intro from news where isrecommend=1 limit 4
	</select>
	
	<resultMap type="com.ola.qh.entity.TopicSquare" id="TopicSquareMap">
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="img_url" property="imgUrl" />
		<result column="simple_intro" property="simpleIntro"/>
		
	</resultMap>
	<select id="topicSquare"  resultMap="TopicSquareMap">
		select id,title,content,img_url,simple_intro from news where status=0 and content_types=2 limit #{pageNo},#{pageSize}
		
	</select>

</mapper>