<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.ShopDrugCartDao">
	<resultMap type="com.ola.qh.entity.ShopDrugCart" id="ShopDrugCartDaoMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="muser_id" property="muserId" />
		<result column="drug_id" property="drugId" />
		<result column="drug_name" property="drugName" />
		<result column="drug_img_url" property="drugImgUrl" />
		<result column="count" property="count" />
		<result column="money" property="money" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
	</resultMap>


	<select id="selectShopDrugCart" resultMap="ShopDrugCartDaoMap">
		select c.id,c.user_id,muser_id,drug_id,drug_name,drug_img_url,count,money,c.status,s.shop_name shopName from shop_drug_cart c left join shop s on c.muser_id=s.user_id  where 
		s.shop_type=2
		<if test="userId!=null">
		and c.user_id=#{userId} 
		</if>
		order by c.addtime desc 
		<if test="pageSize>0">
		limit #{pageNo},#{pageSize}
		</if>
		
	</select> 
	
	
	<insert id="insertShopDrugCart" parameterType="com.ola.qh.entity.ShopDrugCart">
		insert into shop_drug_cart(id,user_id,muser_id,drug_id,drug_name,drug_img_url,count,money,addtime) values(#{id},#{userId},#{muserId},#{drugId},#{drugName},#{drugImgUrl},#{count},#{money},#{addtime})
	</insert>
	
	<update id="updateShopDrugCart">
		update shop_drug_cart set
		<if test="count!=0">
		count=#{count},
		</if>
		<if test="status!=0">
		status=#{status},
		</if>
		updatetime=#{updatetime} where 1=1
		<if test="id!=null">
		and id=#{id}
		</if>
		<if test="drugId!=null">
		and drug_id=#{drugId}
		</if>
	</update>
	
	<delete id="deleteShopDrugCart">
		delete from shop_drug_cart where 1=1
		<if test="id!=null">
		  and id=#{id}
		 </if>
		<if test="userId!=null">
		  and user_id=#{userId}
		</if>
	</delete>
	
	<select id="singleShopDrugCart" resultType="com.ola.qh.entity.ShopDrugCart">
		select id,count from shop_drug_cart where 1=1
		<if test="userId!=null and userId!='' ">
		and user_id=#{userId} 
		</if>
		<if test="drugId!=null and drugId!='' ">
		and drug_id=#{drugId}
		</if>
	</select>
	
	
	<select id="selectCartList" resultMap="ShopDrugCartDaoMap">
		select id from shop_drug_cart where 
		1=1
		<if test="drugId!=null and drugId!=''">
		and drug_id=#{drugId}
		</if>
		
	</select>
</mapper>