<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.ShopDrugCartDao">
	<resultMap type="com.ola.qh.entity.ShopDrugCart" id="ShopDrugCartDaoMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="muser_id" property="muserId" />
		<result column="drug_id" property="drugId" />
		<result column="drug_name" property="drugName" />
		<result column="drug_img_url" property="drugImgUrl" />
		<result column="count" property="count" />
		<result column="money" property="money" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
	</resultMap>


	<select id="selectShopDrugCart" resultMap="ShopDrugCartDaoMap">
		select id,user_id,muser_id,drug_id,drug_name,drug_img_url,count,money,addtime from shop_drug_cart where user_id=#{userId} order by addtime desc limit #{pageNo},#{pageSize}
	</select> 
	
	<insert id="insertShopDrugCart" parameterType="com.ola.qh.entity.ShopDrugCart">
		insert into shop_drug_cart(id,user_id,muser_id,drug_id,drug_name,drug_img_url,count,money,addtime) values(#{id},#{userId},#{muserId},#{drugId},#{drugName},#{drugImgUrl},#{count},#{money},#{addtime})
	</insert>
	
	<update id="updateShopDrugCart" parameterType="com.ola.qh.entity.ShopDrugCart">
		update shop_drug_cart set
		<if test="count!=null">
		count=#{count},
		</if>
		updatetime=#{updatetime} where id=#{id}
	</update>
	
	<delete id="deleteShopDrugCart">
		delete from shop_drug_cart where 1=1
		<if test="id!=null">
		  and id=#{id}
		 </if>
		<if test="userId!=null">
		  and user_id=#{userId}
		</if>
	</delete>
	
	<select id="existShopDrugCart" resultType="com.ola.qh.entity.ShopDrugCart">
		select id,count from shop_drug_cart where user_id=#{userId} and drug_id=#{drugId}
	</select>
</mapper>