<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserbookDao">

	<resultMap type="com.ola.qh.entity.Userbook" id="UserbookMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="accountMoney" property="accountMoney" />
		<result column="addtime" property="addtime" />
		<result column="updatetime" property="updatetime" />
	</resultMap>

	<select id="selectUserbook" resultType="com.ola.qh.entity.Userbook">
		select user_id,accountMoney from user_book where user_id=#{userId}
	</select>
	<insert id="saveUserbook" parameterType="com.ola.qh.entity.Userbook">
		insert into user_book(id,user_id,accountMoney,addtime) values(#{id},#{userId},#{accountMoney},#{addtime})
	</insert>
	<update id="updateUserbook" parameterType="com.ola.qh.entity.Userbook">
		update user_book set accountMoney=#{accountMoney},updatetime=#{updatetime} where user_id=#{userId}
	</update>

</mapper>