<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserDao">
	<resultMap type="com.ola.qh.entity.User" id="UserMap">
		<result column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
		<result column="addtime" property="addtime" />
		<result column="head_img_url" property="headimg" />
		<result column="userrole" property="userrole" />
		<result column="mobile" property="mobile" />
	</resultMap>


	<insert id="saveUser" parameterType="com.ola.qh.entity.User" >
		insert into user(id,mobile,password,addtime) values (#{id},#{mobile},#{password},#{addtime})
	</insert>
	
	<select id="loginUser"  resultType="com.ola.qh.entity.User">
		select mobile,nickname,head_img_url,addtime,userrole from user where mobile=#{mobile} and password=#{password}
	</select>
	
	<select id="existMobileUser" resultType="com.ola.qh.entity.User">
		select * from user where mobile=#{mobile}
	</select>
	
	<update id="updateUser" parameterType="com.ola.qh.entity.User" >
		update user set 
		<if test="nickname!=null">
		nickname=#{nickname},
		</if>
		<if test="headimg!=null">
		head_img_url=#{headimg},
		</if>
		id=#{id} where id=#{id} 
	</update>
	
	<update id="updateUserPassword" parameterType="com.ola.qh.entity.User" >
		update user set 
		<if test="password!=null">
		password=#{password},
		</if>
		id=#{id} where id=#{id} 
	</update>
	
</mapper>