<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserDao">
	<resultMap type="com.ola.qh.entity.User" id="UserMap">
		<result column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
		<result column="addtime" property="addtime" />
		<result column="head_img_url" property="headimg" />
		<result column="userrole" property="userrole" />
		<result column="isdoctor" property="isdoctor"/>
		<result column="mobile" property="mobile" />
		<result column="birthday" property="birthday" />
		<result column="address" property="address"/>
		<result column="realname" property="realname"/>
		<result column="sex" property="sex"/>
		
	</resultMap>

	<sql id="sql_base">
	id,mobile,nickname,head_img_url,userrole,birthday,isdoctor
	</sql>

	<insert id="saveUser" parameterType="com.ola.qh.entity.User" >
		insert into user(id,mobile,password,addtime) values(#{id},#{mobile},#{password},#{addtime})
	</insert>
	
	<select id="loginUser"  resultMap="UserMap">
		select <include refid="sql_base"></include>,password,realname,address,sex from user where mobile=#{mobile} and password=#{password}
	</select>
	
	<select id="singleUser" resultMap="UserMap">
		select <include refid="sql_base"></include>,password,realname,address,sex from user where 1=1
		<if test="mobile!=null">
		and mobile=#{mobile}
		</if>
		<if test="userId!=null">
		and id=#{userId}
		</if>
	</select>
	
	<update id="updateUser" parameterType="com.ola.qh.entity.User" >
		update user set 
		<if test="nickname!=null and nickname!='' ">
		nickname=#{nickname},
		</if>
		<if test="headimg!=null and headimg!='' ">
		head_img_url=#{headimg},
		</if>
		<if test="password!=null and password!=''">
		password=#{password},
		</if>
		<if test="realname!=null and realname!=''">
		realname=#{realname},
		</if>
		<if test="sex!=null and sex!=''">
		sex=#{sex},
		</if>
		<if test="birthday!=null and birthday!='' ">
		birthday=#{birthday},
		</if>
		<if test="address!=null and address!='' ">
		address=#{address},
		</if>
		updatetime=#{updatetime}
		 where 1=1
		<if test="id!=null and id!=''">
		and id=#{id}
		</if>
		<if test="mobile!=null and mobile!=''">
		and mobile=#{mobile}
		</if>
	</update>
	
	<!-- <update id="updatePassword" parameterType="com.ola.qh.entity.User" >
		update user set password=#{password} where id=#{id} 
	</update> -->
	
	<resultMap type="com.ola.qh.entity.UserCode" id="UserCodeMap">
	<result column="id" property="id"/>
	<result column="mobile" property="mobile"/>
	<result column="code" property="code"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	
	<insert id="" parameterType="com.ola.qh.entity.UserCode">
	insert into user_code(id,mobile,code,addtime)values(#{id},#{mobile},#{code},#{addtime})
	</insert>
	<select id="singleCode" resultMap="UserCodeMap">
	select id,mobile,code from user_code where mobile=#{mobile}
	</select>
	<update id="updateCode">
	update user_code set code=#{code} where mobile=#{mobile}
	</update>
	
	<!-- user_type_subclass表映射       开始   -->
	<resultMap type="com.ola.qh.entity.UserTypeSubclass" id="UserTypeSubclassMap">
	<result column="id" property="id"/>
	<result column="course_type_subclass_id" property="courseTypeSubclassId"/>
	<result column="course_type_subclass_name" property="courseTypeSubclassName"/>
	<result column="addtime" property="addTime"/>
	<result column="updatetime" property="updateTime"/>
	</resultMap>
	
	<!-- 根据ID查询全部  -->
	<select id="selectByUserId" resultMap="UserTypeSubclassMap">
	select * from user_type_subclass where 1=1 
	<if test="userId != null and userId !=''">
	and userId = #{userId}
	</if>
	</select>
	
	<!--添加  -->
	<insert id="insertUserTypeSubclass" parameterType="com.ola.qh.entity.UserTypeSubclass">
	insert into user_type_subclass(id,userId,course_type_subclass_name,addtime)values(#{id},#{userId},#{courseTypeSubclassName},#{addTime})
	</insert>
	
	<!-- 根据userid更新专业名  -->
	<update id="updateNameById" parameterType="com.ola.qh.entity.UserTypeSubclass">
	update user_type_subclass set
	<if test="courseTypeSubclassName != null and courseTypeSubclassName !=''">
	course_type_subclass_name = #{courseTypeSubclassName},
	</if>
	<if test="updateTime != null">
	updatetime = #{updateTime}
	</if>
	where userId = #{userId}
	</update>
	<!-- user_type_subclass表映射       结束   -->
</mapper>