<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserCommentDao">
	<resultMap type="com.ola.qh.entity.UserComment"  id="UserCommentMap">
		<result column="id" property="id" />
		<result column="shop_id" property="shopId" />
		<result column="user_id" property="userId" />
		<result column="comment" property="comment" />
		<result column="comment_type" property="commentType" />
		<result column="addtime" property="addtime" />
		<result column="grade" property="grade" />
	</resultMap>

	<select id="selectShopUserComment" resultMap="UserCommentMap">
		select id,shop_id,user_id,comment,comment_type,addtime,grade from user_comment where 1=1
		<if test="shopId!=null">
		and shop_id=#{shopId}
		</if>
		<if test="userId!=null">
		and user_id=#{userId}
		</if>
		order by addtime desc limit #{pageNo},#{pageSize}
	</select>
	
	<insert id="insertUserComment" parameterType="com.ola.qh.entity.UserComment">
		insert into user_comment(id,shop_id,user_id,comment,comment_type,addtime,grade) values(#{id},#{shopId},#{userId},#{comment},#{commentType},#{addtime},#{grade})
	</insert>
	
	<delete id="deleteUserComment">
		delete from user_comment where 1=1
		<if test="id!=null">
		and id=#{id}
		</if>
		<if test="userId!=null">
		and user_id=#{userId}
		</if>
	</delete>
	
	<select id="selectAvgGrade" resultType="double">
		select round(AVG(grade),1) AS avgGrade from user_comment where shop_id=#{shopId}
	</select>
	</mapper>