<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ola.qh.dao.UserDao">
	<resultMap type="com.ola.qh.entity.User" id="UserMap">
		<result column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="password" property="password" />
		<result column="addtime" property="addtime" />
		<result column="head_img_url" property="headimg" />
		<result column="userrole" property="userrole" />
		<result column="mobile" property="mobile" />
		<result column="birthday" property="birthday" />
	</resultMap>

	<sql id="sql_base">
	id,mobile,password,nickname,head_img_url,userrole
	</sql>

	<insert id="saveUser" parameterType="com.ola.qh.entity.User" >
		insert into user(id,mobile,password,addtime) values(#{id},#{mobile},#{password},#{addtime})
	</insert>
	
	<select id="loginUser"  resultMap="UserMap">
		select <include refid="sql_base"></include> from user where mobile=#{mobile} and password=#{password}
	</select>
	
	<select id="singleUser" resultMap="UserMap">
		select <include refid="sql_base"></include> from user where 1=1
		<if test="mobile!=null">
		and mobile=#{mobile}
		</if>
		<if test="userId!=null">
		and id=#{userId}
		</if>
	</select>
	
	<update id="updateUser" parameterType="com.ola.qh.entity.User" >
		update user set 
		<if test="nickname!=null">
		nickname=#{nickname},
		</if>
		<if test="headimg!=null">
		head_img_url=#{headimg},
		</if>
		<if test="password!=null and password!=''">
		password=#{password},
		</if>
		<if test="userrole!=0">
		userrole=#{userrole},
		</if>
		<if test="birthday!=null">
		birthday=#{birthday},
		</if>
		updatetime=#{updatetime}
		 where 1=1
		<if test="id!=null and id!=''">
		and id=#{id}
		</if>
		<if test="mobile!=null and mobile!=''">
		and mobile=#{mobile}
		</if>
	</update>
	
	<!-- <update id="updatePassword" parameterType="com.ola.qh.entity.User" >
		update user set password=#{password} where id=#{id} 
	</update> -->
	
	<resultMap type="com.ola.qh.entity.UserCode" id="UserCodeMap">
	<result column="id" property="id"/>
	<result column="mobile" property="mobile"/>
	<result column="code" property="code"/>
	<result column="addtime" property="addtime"/>
	</resultMap>
	
	<insert id="insertCode" parameterType="com.ola.qh.entity.UserCode">
	insert into user_code(id,mobile,code,addtime)values(#{id},#{mobile},#{code},#{addtime})
	</insert>
	<select id="singleCode" resultMap="UserCodeMap">
	select id,mobile,code from user_code where mobile=#{mobile}
	</select>
	<update id="updateCode">
	update user_code set code=#{code} where mobile=#{mobile}
	</update>
</mapper>